body{
margin: 0;
padding: 0;
background-color: rgba(80, 56, 24, 0.836);
}
#menüszalag{
    width: 100%;
    background-color:var(--menu);
    color: var(--feher);
    height: 50px;
    text-align: center;
}
:root{
    --hatter:#8C7B65;
    --menu:#0D0D0D;
    --feher:white;
}
a{
    color: var(--feher);
    text-decoration: none;
}
#menüszalag ul li{
    display: inline;
    padding: 10px;
    line-height: 50px;

}
#menüszalag ul{
    display: inline;    
}
#tartalom{
    width: 100%;
    min-height: calc(100vh - 50px);
    background-color: var(--hatter);
    margin: auto;
    padding-top: 50px;
    max-width: 700px;
}
h1{
    text-align: center;
}
h2{
text-align: center;
}
a:hover{
    text-decoration: double;
}
#kep{
position: relative;
left: 250px;
}
#vala{
    height: 300px;
    position: relative;
top: 10px;
left: 150px;
}
#vidito{
    
    position: relative;
    top: 0px;
    left: 110px;
    margin: auto;
    
}
p{
    text-align: center;
}
h3{
    text-align: center;
}
#ajto{
    position: relative;
    left: 200px;
    height: 320px;
}
#követ{
    height: 300px;
    left: 80px;
    position: relative;
}
#valamigomb{
    top: 5px;
    position: relative;
    left: 140px;
}
#arrow{
    height: 120px;
    top: 70px;
    position: relative;
    left: 290px;
}